@{
    Layout = null;
}
 <!-- /.content-wrapper -->
        <footer class="main-footer">
            <strong>تمامی حقوق مادی و معنوی این سایت متعلق به <a href="tel:09187708317">کاوان احمدی </a> می‌باشد.</strong>
            <div class="float-right d-none d-sm-inline-block">
                <b>نسخه</b> 1.0.0-rc.1
            </div>
        </footer>